.body{
  font-family: 'Barlow',sans-serif;

  font-size: 18px;

}

.btn-1{
  margin-right: 20px;
  border-radius: 10px;
}
.btn-2{
  background-color: hsl(0, 100%, 68%);
  margin-right: 20px;
  color: white;
}


.col-2{
  padding-left: 100px;
}
.content{
  margin-top: 200px;
}

.content-1{
  padding-bottom:  10px;
  color: hsl(231, 7%, 65%);
}
.content-2{
  padding-top: 10px;
  padding-bottom: 30px;
}

.content-3{
  padding-bottom: 50px;
  color: hsl(230, 11%, 40%);
}

.content-4{
  color: hsl(231, 7%, 65%);
}
.h2{
  font-family: 'Barlow Condensed',sans-serif;
  font-weight:  700;
  color:hsl(230, 29%, 20%);
}


.img-2{
  margin-top: 200px;
}

.logo{
  margin-top: 60px;
  
}
.nav-item{
  margin: 20px;
  color:hsl(230, 29%, 20%);
  font-weight: 400;

  }

  .nav{
    position: absolute;
    right: 20px;
    top: 30px;
  }
